.container {
    text-align: center;
    margin-top: 55px;
}

#todo {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    left: 340px;
    border: 2px solid grey;
    height: 200px;
    width: 400px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* General button styles */
.button-1 {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    display: inline-block;
    font-size: 1rem;
}

.button-1-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-1-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

.button-1-front {
    display: block;
    position: relative;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-1:hover {
    filter: brightness(110%);
}

.button-1:hover .button-1-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-1:hover .button-1-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-1:focus:not(:focus-visible) {
    outline: none;
}

/* Style for Submit button (light blue) */
.submit-btn .button-1-front {
    background: hsl(200, 89%, 62%);
}

.submit-btn .button-1-edge {
    background: linear-gradient(
        to left,
        hsl(200deg 100% 50%) 0%,
        hsl(200, 94%, 55%) 8%,
        hsl(200, 96%, 56%) 92%,
        hsl(200deg 100% 50%) 100%
    );
}
